/.vs
/Build
bin
/Libraries/Nop.Core/bin
/Libraries/Nop.Data/bin/Debug/*.0
/Plugins/Nik.Plugin.CustomProductListOneWay/obj
/Plugins/Nik.Plugin.CustomProductListSecondWay/obj/*
/Plugins/Nik.Plugin.CustomProductListSecondWay/obj/*.json
/Plugins/Nik.Plugin.DemoWebApi/obj
/Plugins/Nop.Plugin.ExchangeRate.EcbExchange/obj
/Plugins/Nop.Plugin.ExternalAuth.Facebook/obj
/Plugins/Nop.Plugin.Misc.Brevo/obj
/Plugins/Nop.Plugin.Misc.NopMobileApp/obj
/Plugins/Nop.Plugin.Misc.WebApi.Frontend/obj
/Plugins/Nop.Plugin.Misc.Zettle/obj
/Plugins/Nop.Plugin.Payments.CheckMoneyOrder/obj
/Plugins/Nop.Plugin.Payments.PayPalCommerce/obj
/Plugins/Nop.Plugin.Pickup.PickupInStore/obj
/Plugins/Nop.Plugin.Shipping.FixedByWeightByTotal/obj
/Plugins/Nop.Plugin.Shipping.UPS/obj
/Plugins/Nop.Plugin.Tax.Avalara/obj
/Plugins/Nop.Plugin.Tax.FixedOrByCountryStateZip/obj
/Plugins/Nop.Plugin.Widgets.FacebookPixel/obj
/Plugins/Nop.Plugin.Widgets.GoogleAnalytics/obj
/Plugins/Nop.Plugin.Widgets.NivoSlider/obj
/Plugins/Nop.Plugin.Widgets.What3words/obj
/Plugins/Nik.Plugin.CustomProductListOneWay/obj/*.json
